################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Server2/v15
/Debug
/Server2/Debug
/Server2/x64/Debug/Server2.tlog
/Server2/x64/Debug
